
@import "../base/extend";
@import "../base/variables";



/* Estilos del Inicio */

/* estilos generales*/

body {
    background-color: rgb(31, 29, 29);
  }

  /* estilos de main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
  }
  
  main .bienvenidos{
      background-color: white;
      margin-top: 1rem;
      padding: 0.7rem 1.2rem 0.7rem 1.2rem;
      color: black
  }

  .pregunta-dos{
    color: white;
}
.parrafo-dos{
    color: $color-gris-parrafos;
}

main p{
    color: $color-gris-parrafos;
}

main h2 {
  color: whitesmoke;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    max-width: 100%;
    line-height: 1.25rem;
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    overflow-wrap: break-word;
}

main .boton {
  @extend %boton;
}

main img {
  width: 100%;
}

/*estilos de section*/

.hipervinculo-boton{
  text-decoration: none;
  color: whitesmoke;
}

section {
    display: none;
  }
  .respiratoria{
      color: white;
  }
  
  .auditiva{
    color: white;
  }
  
  .seguridad{
    color: white;
  }
  
  .visual{
    color: white;
  }

  /* estilos del footer*/

.pie-pagina{
    color: whitesmoke;
    display: block;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }

  /* pantallas de tablets */

  //NESTING

@media screen and (min-width: 600px) {
  
    .hipervinculo{
      text-decoration: none;
      color: whitesmoke;
    }
  
    /* estilos de section */
  
    section {
      display: block;
    }
  
    section div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.7rem;
      padding: 0.5rem;
    }
  
    section div img {
      width: 40%;
    }
  
    footer {
      margin: 1rem;
    }

    
  }

  /* estilos de pantalla de escritorio */

@media screen and (min-width: 1024px) {
    /* estilos de main */
    div .img-main{
      width: 30%;
    }



}

@media screen and (min-width: 1024px){
    /* estilos de section */
    
    section{
      display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto;

      grid-template-areas: 
      "h3 respiratoria"
      "h3 auditiva"
      "h3 seguridad"
      "h3 visual";
      justify-content: center;
    }

}

/* INICIO MEDIA Q*/

@media (min-width: 350px){
  .parrafo-uno{
    width: 85%;
  }

  .parrafo-dos{
    width: 90%;
  }

}


@media (min-width: 600px){
  .parrafo-uno{
    width: 70%;
  }

  .parrafo-dos{
    width: 70%;
  }

  .parrafo-uno img{
    width: 65%;
  }

  .parrafo-dos img{
    width: 65%;
  }
}

@media (min-width: 992px){
  .parrafo-uno{
    width: 80%;
  }

  .parrafo-dos{
    width: 80%;
  }

  .parrafo-uno img{
    width: 40%;
  }

  .parrafo-dos img{
    width: 40%;
  }
}


